  <section id="posts" class="create_one">
        
        <div class="main-context" id="main-context" style="background: url(create_page.jpg) ;">
          <!-- <h2 class="main-text">Welcome</h2>
          <h2 class="main-text">to</h2>
          <h2 class="main-text">The HANG</h2> -->
          <!-- <button class="main-button" id="main-player-button">player</button>
          <button class="main-button" id="main-create-button">creator</button> -->
          
          <div class="content-part" id="words-count">
            <label for="filter-words" class="words-element" id="text_words">Amount of words</label>
            <div class="words-element" id="select_amount_words">
              <select id="filter-words" class="filter" name="filter-words">
                <option selected value="">Any</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
            </div>
          </div>
          
          <div class="content-part" id="time-count">
            <label for="filter-time" class="time-element" id="text_time">Timer</label>
            <div class="time-element" id="select_amount_time">
              <select id="filter-time" class="filter" name="filter-time">
                <option selected value="">Any</option>
                <option>5</option>
                <option>10</option>
                <option>15</option>
              </select>
            </div>
          </div>
        
          <div class="content-part" id="wording">
            <label for="words-input" class="wording-element">Words</label>
            <input name="words-input" class="wording-element" id="wording-input"></input>
            <button class="wording-element" id="wording-button">Add</button>
          </div>
          <div class="content-part" id="invalid-word">
            <p class="invalid-input">The word you just add don't have meaning in english.</p>
            <p class="invalid-input">Please add the word that have meaning.</p>
          </div>
          <div class="content-part" id="word-container">
        
          </div>
        
          <div class="content-part" id="ending-button">
            <button class="end-button" id="cancel">Cancel</button>
            <button class="end-button" id="done">Done</button>
          </div>
        
        
        
        </div>
        
        </section>

      <section id="post" class="hidden_share">
      <div class="main-context" id="main-context" style="background: url(share_creator.jpg) ;">
        <div class="content-part" id="coding">
          <p id="code_text" class="code-element">code: xxxx-xxxx <br
         
           id="link_text" class="code-element">link: xxxx-xxxx</p>
          <!-- style="text-align: center; font-size: 50px;" -->
          
        </div>
      </div>
      </section>
