      <section id="content-part">
        
        <div class="main-context" id="main-context" style="background: url(enter_code.jpg) ;">
            <div id="enter-sec">
              <label for="go-input" class="enter-element">HERE: </label>
              <input name="go-input" class="enter-element" id="input-go"></input>
              <button id="go-button"class="enter-element">get the link</button>
              <h5 id="linker"></h5>
            </div>
            
        </div>


      </section>

   
    
   
    
