      <p id="content-part">
        
        <div class="main-context" id="main-context" style="background: url(enter_code.jpg) ;">
            <p style="text-align: center; font-size: 50px;">here: <input type="text" code="text">
            <button id="code-rear"class="main-menu">go</button>
            </p>
        </div>


      </p>

   
    
