          <section id="content-part">
        
        <div class="main-context" id="main-context" style="background: url(home_page.jpg) ; ">
          <button class="main-button" id="main-player-button">player</button>
          <button class="main-button" id="main-create-button">creator</button>

        </div>

      </section>
