      <section id="content-part">
        
        <div class="main-context" id="main-context" style="background: url(play_done.jpg);">
          <h2>Your score: XX</h2>
          <!-- <p id="score"></p> -->
          <button id="go_main" class="go-main">Go to main</button>
		      <button id="play_again" class="play-again">Play agian</button>
      

        </div>

      </section>
