
     <div class="main-context" id="main-context" style="background: url(bg.jpg);">
        <section id="play-main">
          <h3 style="text-align: center;">Score: </h3>
          <h3 style="text-align: center;">Time: </h3>
          
          <p style="text-align: center;" id="lives"></p>
          
          <div style="text-align: center;" id="display">
          </div>

          <div id="invisible_text_data">
                       <h1 class="array_text">{{words}}</h1>
          </div>

          <div style="text-align: center;"class="image">
            <img src="benny.jpg" alt="main image">
          </div>
  
          <div id="buttons">
          </div>  
  
      </section>
      </div>
