
        <div class="main-context" id="main-context" style="background: url(bg.jpg);">
        <section id="play-main">
          <h3>Score: </h3>
          <h3>Time: </h3>
          
          <p id="lives"></p>
          
          <div id="display">
          </div>
  
          <div class="image">
            <img src="benny.jpg" alt="main image">
          </div>
  
          <div id="buttons">
          </div>  
  
      </section>
      </div>
 