      <section id="post">
      <div class="main-context" id="main-context" style="background: url(share_creator.jpg) ;">
        <div class="content-part" id="coding">
          <p id="code_text" class="code-element">code: xxxx-xxxx</p>
          <p id="link_text" class="code-element">link: xxxx-xxxx</p>
          <!-- style="text-align: center; font-size: 50px;" -->
          
        </div>
      </div>
      </section>

