#play_done_button{
    align-items: center;
    position: relative;
    left: 34%;
    top: 50%;
    font-size: 100px;
}
.go-main{
    border: 5px solid #4872b1;
    padding: 10px 30px;
    margin: .4vh;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.play-again{
    border: 5px solid #4872b1;
    padding: 10px 30px;
    margin: .4vh;
    cursor: pointer;
    position: relative;
    border-radius: 5px;

}
