body {
  margin: 0;
  background-color: #f67811;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 35px;
}

#topest-text {
  font-size: 60px
}

#main-menu-text {
  color: white;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 50px;
}

.link-part:hover {
  font-size: 40px;
}

header {
  background-color: #000;
  display: flex;
  align-items: center;
  position: relative;
}

.content {
  display: flex;
}

.rear-part {
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  /* margin: 10px 10px auto 10px; */
  padding: 20px;
  border-radius: 3px;
  background-color: #034f96;
}

.rear-part h2 {
  margin: 0;
}

#main-context {
  width: 1300px;
  height: 800px;
  background: url(home_page.jpg) ; 
  background-size: cover;
}

.main-text {
  text-align: center;
  font-size: 72px;
  font-family: Georgia, serif
}

.main-button {
  align-items: center;
  font-size: 35px;
  font-family: Georgia, serif;
  position: relative;
  top: 75%;
  left: 50%;
  cursor: pointer;
  border-radius: 10px;
  width: 300px;
  height: 100px;
}

.main-button:hover {
  background-color: black;
  color: white;
}


/*create page*/
#main-context {
  width: 1300px;
  height: 800px;
  /* background-color: aqua; */
  background: url(create_page.jpg) ; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
}

.content-part {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 35px;
  color: white;
}

.words-element {
  
  padding-right: 15px;
}

.filter {
  font-size: 30px;
}

#words-count {
  align-items: center;
  position: relative;
  left: 56%;
  top: 23%;
}

.time-element {
  padding-right: 15px;
}

#time-count {
  align-items: center;
  position: relative;
  left: 56%;
  top: 25%;
}

.wording-element {
  padding-right: 15px;
}

#wording {
  align-items: center;
  position: relative;
  left: 56%;
  top: 27%;
}

#wording-button {
 width: 40px;
 height: 37px;
}

#wording-input {
  height: 30px;
}

#word-container {
  margin: 10px;
  padding: 10px;
  border: 3px dotted rgb(255, 255, 255);
  border-radius: 10px;
  height: 200px;
  width: 350px;
  display: flex;
  align-items: center;
  position: relative;
  left: 55%;
  top: 30%;
}

#cancel {
  margin: 25px;
  width: 150px;
  height: 37px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 710px;
  bottom: -310px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

#done {
  margin: 25px;
  width: 150px;
  height: 37px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 920px;
  bottom: -310px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  display: none;
  
}

#done:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#cancel:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#wording-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#invalid-word {
  color: rgb(255, 103, 103);
  font-size: 23px;
  display: block;
  align-items: center;
  position: relative;
  left: 55%;
  top: 27%;
  display:none;
}

